#nav-items {
  position: absolute;
  right: 176px;
  margin-top: -15px;
  font-family: 'Open Sans', sans-serif;
}
.nav-link {
  color: #fff !important;
}
.logo {
  height: 50px;
}
.navbar {
  background-color: #e87d22 !important;
}

.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}